version: '3'

services:
  mordheim-web:
    container_name: mordheim-web
    build:
      context: ./docker/apache
    ports:
      - 80:80
    volumes:
      - ./docker/apache/conf:/etc/apache2/sites-enabled
      - .:/appdata/wwwroot/:cached 
    depends_on:
      - mordheim-php
    networks:
      - mordheim-network

  mordheim-php:
    container_name: mordheim-php
    build:
      context: ./docker/php
    volumes:
      - ./:/appdata/wwwroot
    depends_on:
      - mordheim-db
    networks:
      - mordheim-network

  mordheim-db:
    container_name: mordheim-db
    image: postgres:13.3
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: mordheim
      POSTGRES_USER: mordheim
      POSTGRES_PASSWORD: mordheim
    volumes:
      - mordheim-db-data:/var/lib/postgresql/data
    networks:
      - mordheim-network

volumes:
  mordheim-db-data:

networks:
  mordheim-network:
    external: true