{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <h1>Héroes</h1>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col ">
            
        </div>
    </div>
{% endblock %}