{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="centered">
            <h1>Mordheim!</h1>
            <br>
            <a href="heroes" class="btn btn-warning" role="button">Héroes</a>
            <a href="minions" class="btn btn-warning" role="button">Secuaces</a>
        </div>
    </div>
{% endblock %}